<!--
  Generated template for the SessionesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pase de lista</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Fecha</ion-label>
    <ion-datetime displayFormat="DD/MMM/YYYY" [(ngModel)]="myDate"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Oucpado</ion-label>
    <ion-toggle [(ngModel)]="estatus_session"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Sin pase de lista</ion-label>
    <ion-toggle [(ngModel)]="pase_lista"></ion-toggle>
  </ion-item>


  <ion-card *ngFor="let servicio of mis_servicios">
    <ion-item>
      <h1>{{ servicio.servicio_id[1] }}</h1>
    </ion-item>
    <ion-card-content>
      <ion-item-group>
        <ion-item-divider color="light">{{ servicio.salon_id[1] }}</ion-item-divider>
        <ion-item><b>Hora: </b>{{ servicio.hora[1] }}</ion-item>
        <ion-item><b>Estatus: </b>
          <ion-badge color="{{servicio.estatus=='libre' ?  'secondary':'primary'}}"> {{ servicio.estatus.toUpperCase()
            }}
          </ion-badge>
        </ion-item>
        <ion-item><b>Pase de lista: </b>
          <ion-icon *ngIf="servicio.paso_asistencia" name="checkbox"></ion-icon>
          <ion-icon *ngIf="!servicio.paso_asistencia" name="close"></ion-icon>
        </ion-item>
      </ion-item-group>
    </ion-card-content>

    <ion-row>
      <ion-col *ngIf="servicio.asisiatencias.total>0">
        <button ion-button icon-start clear small (click)="pasarLista(servicio,servicio.asisiatencias)">
          <ion-icon name="contacts"></ion-icon>
          <div>Asistencia</div>
        </button>
      </ion-col>
      <ion-col *ngIf="servicio.asisiatencias.total==0">
        <button ion-button icon-start clear small (click)="pasarLista(servicio,servicio.asisiatencias)">
          <ion-icon name="calendar"></ion-icon>
          <div>Asignar Beneficiario</div>
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          Total {{ servicio.asisiatencias.total }}
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>
<ion-footer>
  <ion-toolbar>

    <ion-item>
      <button ion-button color="" (click)="buscarSessionesPorFecha()" block outline>Buscar</button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
